{
  "ConnectionStrings": {
    "DefaultConnection": "Server=SERVER;Initial Catalog=DB;User ID=USER;Password=REPLACE_WITH_SECRET;" 
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
